{
  "$schema": "https://opencode.ai/config.json",
  // Copy to opencode.jsonc and fill in your provider, API key and model.
  // See https://models.dev/ for available providers and models
  "provider": {
    "openrouter": {
      "options": {
        "apiKey": "<PUT YOUR OPENROUTER API KEY HERE>"
      }
    }
  },
  "model": "<PUT MODEL ID HERE>",
  // Disable bash and editing all files except hints and tests
  "permission": {
    "question": "deny",
    "bash": "deny",
    "edit": {
      "*": "deny",
      "*/solution_test.*": "allow",
      "*/hints/hint*.md": "allow"
    }
  }
}
