{
  "$schema": "https://opencode.ai/config.json",
  // Copy to opencode.jsonc and fill in your provider, API key and model.
  // See https://models.dev/ for available providers and models
  "provider": {
    "anthropic": {
      "options": {
        "apiKey": ""
      }
    }
  },
  "model": "anthropic/claude-sonnet-4-5",
  // Disable bash and editing all files except hints and tests
  "permission": {
    "question": "deny",
    "bash": "deny",
    "edit": {
      "*": "deny",
      "*/solution_test.*": "allow",
      "*/hints/hint*.md": "allow"
    }
  }
}
